target/
*.log
.idea/
*.iml
.classpath
.project
.settings/
*.dat
*.regtrans-ms
*.blf
AppData/
OneDrive/
NTUSER*
ntuser*
*.xml
*.txt
IdeaProjects/
*.bash_history
*.gitconfig
*.lesshst
*.m2/
*.ssh/
*.viminfo
3D Objects/
Contacts/
Documents/
Downloads/
Favorites/
Links/
MicrosoftEdgeBackups/
Music/
Pictures/
Saved Games/
Searches/
Tracing/
Videos/
first-project/
git-*/
